@import "primer-base/index.scss";

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}

.welcome {
  .logo {
    max-width: 80%;
  }
}
