@import "primer-base/index.scss";

html, body {
  width: 100%;
  min-height: 100vh;
}

header{
  background-image: linear-gradient(to right, red, yellow);
  .title{
    text-align: left;
  }
  .number{
    text-align: right;
  }
  font-size: 20px;
  color: black;

}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  color: white;
  .message{

    padding-top: 25%;
    padding-bottom: 3%;
    text-align: center;
    font-size: 25px;
  }
}

.welcome {
  .logo {
    max-width: 80%;
  }
}

.full_screen{
  width: 100%;
}

.hidden{
  display: none;
}

.header-flex-container{
  display:inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.body-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.resetButton{
  background-image: linear-gradient(to right, red, yellow);
  color:black;
  text-align: center;
  width:20%;
  //height:4%;
  padding: 0;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 25px;
}
